In [1]:
import pandas as pd

In [2]:
df_books = pd.read_csv('./data/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=',',header=0)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

### Similar al groupBy de SQL

In [4]:
df_books.groupby('Author').count()  # agrupamos y contamos cuantos registro de cada author

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [5]:
# .sum()  .mean() .min() .max() etc hace sobre las columnas de los registro agrupados
df_books.groupby('Author').max()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Steve Jobs,4.6,7827,21,2017,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2013,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2017,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2019,Fiction
Zhi Gang Sha,Soul Healing Miracles: Ancient and New Sacred ...,4.6,220,17,2013,Non Fiction

In [7]:
# aqui nos muestra de cada author, los valores maximos de cada columna, si tienen varios registros, toma el mayor de entre ellos

#### Al hacer groupBy, el autor pasa ha ser el indice de cada row. por lo tanto se puede hacer loc de el nombre de dicho autor

In [12]:
df_books.groupby('Author').sum().loc['William Davis']  # acumula los valores para el autor

Name           Wheat Belly: Lose the Wheat, Lose the Weight, ...
User Rating                                                  8.8
Reviews                                                    14994
Price                                                         12
Year                                                        4025
Genre                                     Non FictionNon Fiction
Name: William Davis, dtype: object

In [16]:
# se puede usar el metodo reset_index() para que genere indices numericos standard y autor pase a ser una columna
df_books.groupby('Author').max().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Steve Jobs,4.6,7827,21,2017,Non Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2013,Non Fiction
245,William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2017,Fiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2019,Fiction
247,Zhi Gang Sha,Soul Healing Miracles: Ancient and New Sacred ...,4.6,220,17,2013,Non Fiction

## groupBy().agg()
    - En agg se le especifican las funciones de agregacion que quieras
    - ['min','max']

In [18]:
# genera una columna  por cada funcion de agregacion que le indiquemos asociada a cada columna
# en este caso min y max
df_books.groupby('Author').agg(['min','max'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

### agg()
    - Acepta en forma de diccionario los nombre de las columnas como key y las funciones de agregacion como value
    - Se puede especificar cualquer numero de keys(columnas) , values(funciones)

In [21]:
df_books.groupby('Author').agg({'Reviews':['mean','max'], 'User Rating':'max'})

                                 Reviews        User Rating
                                    mean    max         max
Author
Abraham Verghese             4866.000000   4866         4.6
Adam Gasiewski               3113.000000   3113         4.4
Adam Mansbach                9568.000000   9568         4.8
Adir Levy                    8170.000000   8170         4.8
Admiral William H. McRaven  10199.000000  10199         4.7
...                                  ...    ...         ...
Walter Isaacson              6222.666667   7827         4.6
William Davis                7497.000000   7497         4.4
William P. Young            19720.000000  19720         4.6
Wizards RPG Team            16990.000000  16990         4.8
Zhi Gang Sha                  128.500000    220         4.6

[248 rows x 3 columns]

In [24]:
df_books.groupby(['Author','Year']).count()
# Al pasar una lista con los label de las columnas los subagrupa

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]